@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Shared Styles */
/* For Button */
.btn_style{
    padding: 12px 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

/* Button Animation */
.btn_style:hover{
    transform: scale(0.9);
}


/* Most Used Color */
.text_color{
    color: rgba(255, 255, 255, 1);
}

/* For Max-width */
.width_max{
    max-width: 1140px;
    margin: 0px auto;
}

/* For Display Flex  */
.flex_display{
    display: flex;
}

/* For Display Grid */
.grid_display{
    display: grid;
}


/* Main Styles */
/* Navbar Styles */
header{
    background-color: #1A0B2E;
    padding: 20px 0px;
}

.nav_container{
    justify-content: space-between;
    align-items: center;
}

.nav_container h1{
    font-size: 2.5rem;
}

.highlight{
    color: transparent;
    background: linear-gradient(10deg, #F7E93F, #FB09B4, #9100F8);
    /* For text in background */
    background-clip: text;
    
}

.menu_container ul{
    list-style: none;
}

.menu_container ul li{
    margin-right: 32px;
}

.menu_container ul li a{
    text-decoration: none;
    font-weight: 500;
}

/* For Hamburger */
.hamburger{
    margin-right: 20px;
    cursor: pointer;
}

/* Query For Small Device */
@media screen and (max-width: 576px){
    .hide{
        display: none;
    }

    .nav_container h1{
        margin-left: 20px;
    }
}


/* Query For Medium Device */
@media screen and (min-width:576px) and (max-width:992px) {
    .hamburger{
        display: none;
    }
}


/* Query For Desktops */
@media screen and (min-width:992px) {
    .hamburger{
        display: none;
    }
}