@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Shared Styles */
/* For Button */
.btn_style{
    padding: 12px 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

/* Button Animation */
.btn_style:hover{
    transform: scale(0.9);
}


/* Most Used Color */
.text_color{
    color: rgba(255, 255, 255, 1);
}

/* For Max-width */
.width_max{
    max-width: 1140px;
    margin: 20px auto;
}

/* For Display Flex  */
.flex_display{
    display: flex;
}

/* For Display Grid */
.grid_display{
    display: grid;
}


/* Main Styles */
/* Navbar Styles */
header{
    background-color: #1A0B2E;
    padding-top: 5px;
}

.nav_container{
    justify-content: space-between;
    align-items: center;
}

.nav_container h1{
    font-size: 2.4rem;
}

.highlight{
    color: transparent;
    background: linear-gradient(10deg, #F7E93F, #FB09B4, #9100F8);
    /* For text in background */
    background-clip: text;
    
}

.menu_container ul{
    list-style: none;
}

.menu_container ul li{
    margin-right: 32px;
}

.menu_container ul li a{
    text-decoration: none;
    font-weight: 500;
}

/* For Hamburger */
.hamburger{
    margin-right: 20px;
    cursor: pointer;
}

/* Banner Section Styles */
.banner_bg{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);
    place-items: center;
}

.image_box{
    grid-column: span 3;
    grid-row: auto;
    position: relative;
}
.text_box{
    grid-column: span 3;
    grid-row: auto;
    text-align: center;
}

.circle_image{
    margin-bottom: -200px ;
    max-width: 100% ;
}

.badge{
    position: absolute;
    padding: 0.3rem 0.6rem;
    color: #1A0B2E;
    background-color: #00FF88;
    border-radius: 100px;
    top: 20%;
    right: 10%;

    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 0px 2px 10px 0 #00FF88;
}

.microphone_image{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_box h2{
    font-size: 3.75rem;
    font-weight: 800;
}

.text_box p{
    margin-bottom: 0.7rem;
}

.btn_group{
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.btn_group button{
    display: inline-flex;
    align-items: center;
    gap: 3px;
}

#highlight_btn{
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 0.8125rem 1.25rem ;
    border-radius: 100px;
    transition: transform 100ms ease-in-out;
}

#highlight_btn:hover{
    transform: scale(0.9);
}



/* Query For Small Device */
@media screen and (max-width: 576px){
    .hide{
        display: none;
    }

    .nav_container h1{
        margin-left: 20px;
    }

    .banner_container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 290px);
        place-items: center;
    }

    .circle_image{
        width: 250px;
    }

    .microphone_image{
        top: 230%;
        width: 90px;
    }
    
    .text_box{
        margin-top: 50px;
    }
    /* Header Navbar + Banner Ends */
}


/* Query For Medium Device */
@media screen and (min-width:576px) and (max-width:992px) {
    .hamburger{
        display: none;
    }
}


/* Query For Desktops */
@media screen and (min-width:992px) {
    .hamburger{
        display: none;
    }
}