@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Shared Styles */
/* For Button */
.btn_style{
    padding: 12px 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

/* Button Animation */
.btn_style:hover{
    transform: scale(0.9);
}


/* Most Used Color */
.text_color{
    color: rgba(255, 255, 255, 1);
}

/* Background color */
.bg_color{
    background-color: #1A0B2E;
}

/* For Max-width */
.width_max{
    max-width: 1140px;
    margin: 0px auto;
}

/* For Display Flex  */
.flex_display{
    display: flex;
}

/* For Display Grid */
.grid_display{
    display: grid;
}


/* Main Styles */
/* Navbar Styles */
header{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    padding-top: 5px;
}

.nav_container{
    justify-content: space-between;
    align-items: center;
}

.nav_container h1{
    font-size: 2.4rem;
}

.highlight{
    color: transparent;
    background: linear-gradient(10deg, #F7E93F, #FB09B4, #9100F8);
    /* For text in background */
    background-clip: text;
    
}

.menu_container ul{
    list-style: none;
}

.menu_container ul li{
    margin-right: 32px;
}

.menu_container ul li a{
    text-decoration: none;
    font-weight: 500;
}

/* For Hamburger */
.hamburger{
    margin-right: 20px;
    cursor: pointer;
}

/* Banner Section Styles Start*/
.banner_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);
    place-items: center;
}

.image_box{
    grid-column: span 3;
    grid-row: auto;
    position: relative;
}

.text_box{
    grid-column: span 3;
    grid-row: auto;
    text-align: center;
}

.circle_image{
    margin-bottom: -200px ;
    max-width: 100% ;
    border-radius: 50%;
    animation: pulse 3s ease-in-out 0s infinite alternate;
}

@keyframes pulse{
    0%{box-shadow:0 0 10px #F7E93F}
    50%{box-shadow:0 0 30px #9100F8}
    100%{box-shadow:0 0 10px #FB09B4}
}

.badge{
    position: absolute;
    padding: 0.3rem 0.6rem;
    color: #1A0B2E;
    background-color: #00FF88;
    border-radius: 100px;
    top: 20%;
    right: 10%;

    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 0px 2px 10px 0 #00FF88;
}

.microphone_image{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_box h2{
    font-size: 3.75rem;
    font-weight: 800;
}

.text_box p{
    margin-bottom: 0.7rem;
}

.btn_group{
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.btn_group button{
    display: inline-flex;
    align-items: center;
    gap: 3px;
}

#highlight_btn{
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 0.8125rem 1.25rem ;
    border-radius: 100px;
    transition: transform 100ms ease-in-out;
}

#highlight_btn:hover{
    transform: scale(0.9);
}
/* Banner Section Styles End */

/* About the podcast Start */
.podcast_container{
    text-align: center;
    padding: 20px 0px;
}

.podcast_text{
    max-width: 70%;
    margin: 0px auto 3rem;
}

.podcast_text  .title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.9rem ;
}

.podcast_text .para_1{
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.podcast_showoff{
    border-top: 0.1px solid rgba(255, 255, 255, 0.342); ;
    padding: 3.125rem 0 3.125rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 100px);
    text-align: center;
    align-items: center;
    gap: 5rem;
}

.podcast_showoff h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}

.podcast_showoff p{
    text-transform: uppercase;
    line-height: 20px;
}
/*  About the podcast End */

/* Why Choose TechWave Star */
.choose_tech_wave{
    background-color: #230E3D;
    color: #FFFFFF;
}

.tech_wave_container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.tech_wave_container .head_text{
    margin-bottom: 1.875rem;
    font-size: 3rem;
    font-weight: 700;
}

.complex_container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
}

.complex_container h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.complex_container .content_1{
    padding: 100px 20px;
    grid-row: span 2;
    text-align: left;
    align-self: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;

}

.complex_container .content_2{
    grid-column: span 2;
    padding: 26px;
    text-align: left;
    align-self: center;

    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.complex_container .content_3{
    grid-column: span 2;
    padding: 26px;
    text-align: left;
    align-self: center;

    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    
}

.complex_container .content_4{
    grid-column: span 2;

    padding: 18px;
    text-align: left;
    align-self: center;

    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    
}

.complex_container .content_5{
    padding: 27px;
    margin-bottom: 20px ;
    grid-row: span 2;
    text-align: left;
    align-self: center;

    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
/* Why Choose TechWave End */

/* Featured Episodes Start */
.episode_container{
    padding: 50px 0px;
    text-align: center;
}

.episode_container .epi_title{
    font-size: 3rem;
    font-weight: 700;
}

.card_container{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 350px;
    height: 400px;
    background-color: #250D44;
    border-radius: 24px;
}

.card_video iframe{
    width: 100%;
    height: 175px;
    border-top: 1px solid rgb(155, 76, 76);
    border-radius:30px 30px 0px 0px;
}

.card .card_text{
    padding: 20px 20px 30px 20px;
    text-align: left;
}

.card_text h3{
    margin-bottom: 15px;
}

.card_text p{
    margin-bottom: 15px;
}

.image_text{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Featured Episodes End */

/* Meed Our Host Start */
.host_container{
    text-align: center;
    padding: 30px 0px;
    padding-bottom: 60px;
}

.host_container .meet_host{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.h_card_container{
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
}

.host_image img{
    padding: 20px;
}

.h_card_container .host_details{
    padding: 20px ;
}

.host_details h3{
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.host_details p{
    margin-bottom: 15px;
}

.social_link{
    gap: 10px;
    align-items: center;
}

.icon_ring a{
    padding: 11px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_ring img{
    width: 15px;
    height: auto;
}

.icon_ring{
    transition: 0.3s ease-in-out;
    border-radius: 100%;
}

.icon_ring:hover{
    transform: scale(1.1);
    background: linear-gradient(30deg,#b9b9b7, #9100F8,#f7e83f);
    border-radius: 100%;
}
/* Meed Our Host End */



/* Query For Small Device */
@media screen and (max-width: 576px){
    .hide{
        display: none;
    }

    .nav_container h1{
        margin-left: 20px;
    }

    header{
    background-image: url(../assets/new-icon/Image.png);
    }

    .banner_container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 290px);
        place-items: center;
    }

    .circle_image{
        margin-bottom: -28px;
        width: 200px;
    }

    .microphone_image{
        top: 100px;
        width: 65px;
    }

    .text_box{
        padding: 1.25rem;
    }

    .text_box h2{
        margin-bottom: 20px;
        font-size: 2.7rem;
        font-weight: 700;
    }

    .text_box p{
        margin-bottom: 1rem;
    }

    .badge{
        top: 10px;
        font-size: 1rem;
    }
    /* Header Navbar + Banner Ends */

    /* Podcast Section Start */
    .podcast_text{
        max-width: 90%;
        margin: 0 auto;
    }

    .podcast_text  .title{
        font-size: 2rem;
    }
    
    .podcast_text .para_1{
        line-height: 20px;
    }

    .podcast_text .para_2{
        margin-bottom: 50px;
    }

    .podcast_showoff{
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin:0px 10px;
    }
    /* About Podcast Section End */

    /* Why Choose TechWave Section Start */
    .complex_container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 200px);
    }

    .tech_wave_container .head_text{
        font-size: 2rem;
    }

    .complex_container .content_1{
        margin-left: 20px;
    }

    .complex_container .content_2{
        padding: 30px;
        margin:0px 20px;
    }
    .complex_container .content_3{
        padding: 30px;
        margin:0px 20px ;
    }
    .complex_container .content_4{
        padding: 30px;
        margin:0px 20px;
    }
    .complex_container .content_5{
        margin-left: 20px ;
    }
    /* Why Choose TechWave Section End */

    /* Featured Episodes Star */
    .episode_container .epi_title{
        font-size: 2rem;
    }

    .card_container{
        flex-direction: column;
        gap: 20px;
    }

    .card{
        width: 90%;
        height: auto;
    }

    .card_video iframe{
        width: 100%;
        height: 200px;
    }
    /* Featured Episodes End */

    /* Meed Our Host Start */
    .h_card_container{
        flex-direction: column;
        text-align: center;
        padding: 0px 10px;
        margin: 0px 20px;
    }

    .h_card_container .host_details{
        padding: 0px 0px 20px 0px;
    }

    .host_container .meet_host{
        font-size: 2rem;
    }
    .host_image img{
        margin-top: 20px;
    }

    .social_link{
        justify-content: center;
        align-items: center;
    }
    /* Meed Our Host End */

}
    



/* Query For Medium Device */
@media screen and (min-width:576px) and (max-width:992px) {
    .hamburger{
        display: none;
    }

    .podcast_container .podcast_showoff{
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .card_container{
        flex-direction: row;
        gap: 10px;
    }
}


/* Query For Desktops */
@media screen and (min-width:992px){
    .hamburger{
        display: none;
    }
}